body{
    margin: 0;
    padding: 0;
    background-image: url("web1pic/hmc-bg-image.png");
    
     box-sizing: border-box;
     width: 100%;

}
#myInput{
    text-align: center;
    outline: none;
     margin: 2.5%;
     width: 90%;
     height: 20px;
     border: 1px solid blue;
     padding: 20px;
     border-radius: 5px;
     background-color: whitesmoke;
     color:black;
     
 }
 
 
 /*search filter pge css*/
 
.sectiondiv{
    width: 100%;
    height: 30px;
    text-align: center;
}.sectiondiv h3{
    font-size: 30px;
    color: #fff;
}
.sectionsdiv2{
    width: 90%;
    margin: auto;
    position: relative;
   /* display: flex;
    flex-direction: row;*/
    align-content: center;

}.sectionsdiv2 .section{
    padding: 10px 25px 10px 25px;
    border: 2px solid blue;
    border-radius: 0px 0px 20px 20px ;
    background-color: black;
    color: #fff;
    text-decoration: none;
    margin: 10px;

    box-shadow: 3px 5px 17px 3px green;
    outline:  2px solid green;
    transition: .5s;
    font-weight: bold;
    float: left;
    
}.sectionsdiv2 .section:hover{
    background-color: whitesmoke;
    color: black;
   
}.sectionsdiv2 .active-section{
    background-color: whitesmoke;
    color: blue;
    text-shadow: 2px 2px 12px green;
}
.active-section{
    background-color: whitesmoke;
    color: blue;
    text-shadow: 2px 2px 12px green;
}   
#nav{
    top: 0;
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );
    position: fixed;
    z-index: 1;
   
    
}

#nav .logo{
    float: left;
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: 200px;
    margin-left: 10%;
    text-shadow: black 2px 5px 6px;
}
#nav .logo .h{
    color: white;
    

}

#nav .logo .mc{
    color: rgb(68, 221, 68);
}
.mc{
    color: rgb(68, 221, 68);
}

#nav .socialdiv{
    float: right;
    margin: auto;
}
#nav .socialdiv a{
    
}
#nav .socialdiv .socialcontact{
    float: right;
    position: relative;
    width: auto;
    font-size: 18px;
    
    font-style: italic ;
    padding: 5px;
    color: rgb(68, 221, 68);
    text-shadow: black 2px 5px 6px;
}
.right-hand{
    border-radius: 6px;
    float: right;
 animation: hand 2s linear infinite;
 padding: 8px;
 position: relative;
 
 
}
@keyframes hand{
  
    0%{ color: red; }
    15%{ color: green;}
    25%{ color: blue; }
    35%{ color: yellow; }
    45%{ color: rgb(3, 142, 255);}
    50%{ color: rgb(253, 9, 143);}
    65%{ color: aqua; }
    75%{ color: brown;}
    85%{ color: rgb(13, 250, 13); }
    100%{ color: white;}

}
#nav .fa-facebook{
float: right;
color: #1877f2 ;
padding: 5px;
font-size: 20px;
z-index: 1;
text-shadow: gray 1px 5px 16px;
}
#nav .fa-facebook:hover{
    transform: rotate(360deg);
    transition: .5s;
    cursor: pointer;
    color: #000;
}

#nav .fa-whatsapp{
    float: right;
    margin-right: 20px;
    padding: 5px;
    color: #4FCE5D;
    z-index: 1;
    font-size: 20px;
    text-shadow: gray 1px 5px 16px;

}

#nav .fa-whatsapp:hover{
    transform: rotate(360deg);
    transition: .5s;
    color: #000;
    cursor: pointer;
}







/*-----------------SLide show  start-------------------------- */
.slideshow-container {
    width: 100%;
    height: 450px;
    overflow: hidden;
    position: relative;
    
    background: transparent;
    

  }
  
  .slide {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    transition: right 0.4s ease-in-out;
  }
  .slide:hover{
    opacity: .8;
  }
  .slide.active {
    right: 0;
    }
  .slide.active::before{
      left: -100%;
  
  }
  
/*-----------------SLide show  End -------------------------- */
















.head{
}
.head h1{
    display: none;
    background-color: white;
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
    z-index: 1;
    
}
/*
.home{
    width: 10%;
    height: 20px;
    border-radius: 0 0 5px 5px;
    background-color: rgb(18, 22, 22);
    float: left;
    margin-left: 5px;
    text-align: center;
    color: white;
   
  

}*/



/*setting for blogger site Menu display none; and searh box display none; */

 .menuitems{

    position: relative;
    
    width: 100%;
    height: 40px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid whitesmoke ;

}
 .menuitems a{

    padding: 8px;
    color: white;
    text-decoration: none;
    font-size: 18px;
    border-right: 1px solid whitesmoke;
    background-color: #110c0c;
    border-radius: 5px;
    margin: 2px;
   
}
 .menuitems a:hover{
    color: green;
    transition: 0.5s;
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;

}

/*-----search box started-----------*/
.searchbox {  position: absolute;
    margin-left: 75%;
    box-sizing: none;
    height: 20px;
    top: 35px;
    display: none;

}
  
  

.searchbox input{
     box-sizing: none;
    height:20px
}
.searchbox button{
    background-color: rgb(18, 22, 22);
    color: white;
    cursor: pointer;
    
    
}
.searchbox button:hover{
border-bottom: 1px solid white;
background-color: rgb(24, 29, 29);
transition: .5s;
}

/*-----search box end-----------*/


.blank{
    width: 100%;
    height: 30px;
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );
    position: relative;
    margin-top: 10px;

}
.blank marquee{
    color: rgb(68, 221, 68);
    position: relative;
}
.note{
    color: red;
}
.line{
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );
border: none;
    width: 100%;
    height: 5px;
    position: relative;
    
}





/*-------------HMC home page-----------------



.webseries{
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(44, 43, 43), ;
    border: 3px solid  green;
    box-shadow: inset 3px 5px 15px 5px  rgb(82, 82, 87);
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);

    float: left; 
    text-align: center;
    border-radius: 0px 0px 25px 25px;
    
}
.webseries:hover{
    height: 700px;
    transition: .5s;
    border-radius: 0px;

}
.webseries .heading1{
    color: green;
    font-weight: bolder;
    text-shadow: 2px 3px 5px #312e2e;
}
.webseries .heading1:hover{
    color: red;
}
.webseries img{
    height: 0px;
    width: 100%;
    filter: blur(5px);
}
.webseries:hover img{
    transition: 0.5s;
    height: 620px;
    
}

.webseries img:hover{
    opacity: .6;
   


}

.webseries a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.webseries a{
    text-decoration: none;
      color: white;
}



.hollywoodmovies{
    text-align: center;
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(44, 43, 43), ;
    border: 3px solid  green;
    box-shadow: inset 3px 5px 15px 5px  rgb(82, 82, 87);
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);
    color: white;
    float: left; 
    border-radius: 0px 0px 25px 25px;
}
.hollywoodmovies:hover{
    height: 700px;
    transition: 0.5s;
    border-radius: 0px;

}
.hollywoodmovies .heading1{
    color: green;
    font-weight: bolder;
    text-shadow: 2px 3px 5px #312e2e;
}
.hollywoodmovies .heading1:hover{
    color: red;
}
.hollywoodmovies img{
    width:100% ;
    height: 0px;
    filter: blur(5px);

}
.hollywoodmovies:hover img{
    height: 620px;
    transition: 0.5s;
}
.hollywoodmovies img:hover{
    opacity: .6;
    transition: 0.5s;
}
.hollywoodmoviesa:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.hollywoodmovies a{
    text-decoration: none;
    color: white;
}
.bollywoodmovies{
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(44, 43, 43), ;
    border: 3px solid  green;
    box-shadow: inset 3px 5px 15px 5px  rgb(82, 82, 87);
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);
    color: white;
    float: left; 
    text-align: center;
    border-radius: 0px 0px 25px 25px;

}
.bollywoodmovies:hover{
    height: 700px;
    transition: 0.5s;
    border-radius: 0px;


}
.bollywoodmovies .heading1{
    color: green;
    font-weight: bolder;
    text-shadow: 2px 3px 5px #312e2e;
}
.bollywoodmovies .heading1:hover{
    color: red;
}
.bollywoodmovies img{
    width:100% ;
    height: 0px;
    filter: blur(7px);

}
.bollywoodmovies:hover img{
    
    height: 620px;
    transition: 0.5s;
}

.bollywoodmovies img:hover{
    opacity: .6;
    transition: 0.5s;
}
.bollywoodmovies a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.bollywoodmovies a{
    text-decoration: none;
    color: white;}
.pakistanimovies{
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(44, 43, 43), ;
    border: 3px solid  green;
    box-shadow: inset 3px 5px 15px 5px  rgb(82, 82, 87);
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);
    color: white;
    float: left; 
    text-align: center;
    border-radius: 0px 0px 25px 25px;

    
}
.pakistanimovies:hover{
    height: 700px;
    transition: 0.5s;
    border-radius: 0px;


}
.pakistanimovies .heading1{
    color: green;
    font-weight: bolder;
    text-shadow: 2px 3px 5px #312e2e;
}
.pakistanimovies .heading1:hover{
    color: red;
}
.pakistanimovies img{
    width:100% ;
    height:0px;
    filter: blur(7px);

}
.pakistanimovies:hover img{
    
    height: 620px;
    transition: 0.5s;
}

.pakistanimovies img:hover{
    opacity: .6;
    transition: 0.5s;
}
.pakistanimovies a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.pakistanimovies a{
    text-decoration: none;
    color: white;}
.southindianmovies{
    width: 80%;
    height: 80px;
    margin-top: 20px;
    margin-left: 10%;
    background-color: rgb(44, 43, 43), ;
    border: 3px solid  green;
    box-shadow:  3px 5px 15px 5px  rgb(2, 0, 128);
    color: white;
    float: left;    
    text-align: center;
    border-radius: 0px 0px 25px 25px;

}
.southindianmovies:hover{
    height: 700px;
    transition: 0.5s;
    border-radius: 0px;

}
.southindianmovies .heading1{
    color: green;
    font-weight: bolder;
    text-shadow: 2px 3px 5px #312e2e;
}
.southindianmovies .heading1:hover{
    color: red;
}
.southindianmovies img{
    width:100% ;
    height: 0px;
    filter: blur(7px);

}
.southindianmovies:hover img{
    
    height: 620px;
    transition: 0.5s;
}

.southindianmovies img:hover{
    opacity: .6;
    transition: 0.5s;
}
.southindianmovies a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.southindianmovies a{
    text-decoration: none;
    color: white;}



/*-------------HMC home page End-----------------*/











































.movies{
    color: rgb(68, 221, 68);
    width: 100%;
    height: 45px;
    margin-top: 20px;
    
}
.movies #h2 {
    margin-left: 10px;
    color: rgb(68, 221, 68);
}
.movies #h2 .your{
    color:whitesmoke;
}


/*---------Movies started---------*/

#all_movies{
    position: relative;
   
    background: transparent;
    padding: 10px;
    height: 2880px;
    overflow: hidden;

}

.movie1{

    float: left;
    width: 30%;
    height: 400px;   
    margin-top: 10px;
    margin-left: 2%;
    background-color: rgb(18, 22, 22);
    border: 1px solid  white;
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);
    overflow: hidden;
    font-weight: bold;
  
    
}
.movie1 .text{
    margin: 0%;
    position: relative;
    padding: 0;
}
.movie1 img{
    height: 350px;
}
.movie1 img:hover{
    opacity: .6;
    transition: 0.5s;
    transform: rotateY(-180deg);

}
.movie1 a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.movie1 a{
    text-decoration: none;
      color: white;
}

.movie2{
    float: left;
    width: 30%;
    height: 400px;
    margin-top: 10px;
    margin-left: 2%;
    background-color: rgb(18, 22, 22);
    border: 1px solid  white;
    box-shadow: 3px 5px 15px 5px  rgb(2, 0, 128);
    color: white;
    overflow: hidden;
    font-weight: bold;
}

.movie2 .text{
    
    margin: 0%;
    position: relative;
    padding: 0;
}
.movie2 img{
    height: 350px;
}
.movie2 img:hover{
    opacity: .6;
    transform: rotateY(-180deg);

    transition: 0.5s;
}
.movie2 a:hover{
    color: rgb(68, 221, 68);
    transition: .6s;
}
.movie2 a{
    text-decoration: none;
    color: white;
}




/*===========Load more button css========*/
#load-more-div{
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
}

#load-more-div .load-more-btn, .load-more-btn1{
    width: fit-content;
    margin: auto;
    background-color: black;
    color: white;
    border: 1px solid blue;
    padding: 5px 15px;
    margin-top: 30px;
    display: none;
}
#load-more-div .load-more-btn:hover , .load-more-btn1:hover{
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
}
.load-more-btn1{
    display: block;
}







/*----------pagination css start--------*/

.pnumber{
    /*margin-top: :*/
    position: relative;
    background: transparent;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-bottom: 15px ;
    margin-top: 15px ;
    
}

.pnumber a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid blue;

   
}
.pnumber a:hover{
    background-color: antiquewhite;
    color: black ;
    border: 1px solid green;
}
.pnumber a .i{
    color: blue;
}





.pnumber #active-pn{
    background-color: white;
    color: black;
    border-radius: 3px;
}
.pnumber #active-pn:hover{
    background-color: antiquewhite;
}



/*----------pagination css end--------*/










/*--------------Categeries start-------------*/


/*--------------Categeries End-------------*/




/*-----------Notediv start--------------*/
#notediv{
    position: relative;
    padding: 10px;
    max-width: 98%;
    height: auto;
    background-color: #1cb12e;
    color: #fff;
    border-radius: 8px;
    margin-top: 5px;
    position: relative;
    text-align: justify;
   
    
}
#notediv:hover{
    background-color: #0e6919;

}
#notediv p{
    padding: 5px;
    cursor: default;
    
}
#notediv .closebar{
    color: whitesmoke;
    font-size: 25px;
    z-index: 1;
    display: block;
    justify-content: right;
    position: absolute;
    border: 1px dotted black;
   
    border-radius: 5px 5px 0px 0px;   
     padding: 5px 5px 0px 5px;
    background-color: #1cb12e;
    top: -15px;
  
}
#notediv .closebar:hover{
    color: red;
    background-color: #0e6919;
    cursor: pointer;

}
/*-----------Notediv start End--------------*/




/*-----------Form css start-------------*/
.form-div-container{
    position: relative;
    /*background-color: red;*/
    display: flex;
    justify-content: center;
    height: auto;
    padding: 10px;

}
.formdiv{
    width: 50%;
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(2, 0, 128),  white );
    height: auto;
    padding:10px;
    padding-bottom: 15px;
    margin-top: 20px;
    box-shadow: 20px 15px 12px 0px black;
    margin-left: 0px;

    
}
.formdiv h3{
    text-align: center;
    color: white;
    text-shadow: black 2px 5px 6px;
}
.formdiv form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.formdiv form input{
    width: 80%;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.formdiv form textarea{
    width: 80%;
    height: 100px;
    border-radius: 8px;

}
.formdiv form input, .formdiv form textarea{
    margin: auto;
    margin-top: 15px;
}
.formdiv form #form-submit-btn{

    padding: 10px 20px;
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(2, 0, 128),  white );

    color: white;
    border: 1px solid whitesmoke;
    border-radius: 8px;

}
.formdiv form #form-submit-btn:hover{
    cursor: pointer;
    background-color: whitesmoke;
    color: green;
    border: 1px solid green;      
    animation: submit-btn-light 0.1s linear infinite;
    animation-iteration-count: 1;
    
}

@keyframes submit-btn-light{
    0%{
              background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(2, 0, 128),  white );

    }
    100%{ background-image: linear-gradient(to right, white , rgb(2, 0, 128),rgb(2, 0, 128), rgb(23, 0, 128));
    
  
    }
}

/*--Form css End--*/
































/* 
#formid{
    behavior: smooth;
}

.formdiv{
   position: relative;
     width: 40%;
    height: 400px;
    margin-left: 30%;
    margin-top: 50px;
    box-shadow: 20px 15px 12px 0px black;
    padding: 5px;
    
}
.formdiv h3{
    text-align: center;
    color: white;
}
.formdiv form{
    float: left;
    width: 100%;
}
.formdiv form input{
    width: 80%;
    margin-left: 10%;
    height: 30px;
    border: none;
    border-radius: 8px;
}
.formdiv form textarea{
    width: 80%;
    margin-left: 10%;
    height: 100px;
    border-radius: 8px;

}
#btn{
    background-color: rgb(2, 248, 35);
}
#btn:hover{
    background-color: rgb(15, 116, 15);
}
.formdiv form button{
    float: left;
    margin-left: 40%;
    width: 20%;
    height: 30px;
    background-color: rgb(2, 248, 35);
    color: white;
    border-radius: 8px;
    border: none;
    
}
.formdiv form button:hover{
    background-color: rgb(15, 116, 15);
    transition: 0.5s;
    cursor: pointer;
}
#formid{
    transition: 1s;
}
*/
/*________________ Footer CSS Started______________________*/

#footer{
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );
    color: white;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 0px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
#footertext{
    padding: 0%;
/* width: 100%;
 height: 64px;
*/
}
#footertext .h3{
    text-align: center;
    font-size: 32px;
    padding: 0;
    padding-top: 0;
    font-weight: 300;
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footersocial{
display: flex;
flex-direction: row;  
justify-content: center;
 border-top: 1px solid whitesmoke;
  /*
    background-color: #4FCE5D;
    padding: 10px;
    margin-top: 5px;
   
    font-size: 25px;
    overflow: hidden;
*/
}
#fa-facebook, #fa-whatsapp{
font-size: 22px;
padding: 5px;
margin: 3px;

}
#fa-facebook{
color: #1877f2 ;

}
#fa-facebook:hover{
        transform: rotate(360deg);
        transition: .5s;
       
        cursor: pointer;
    }
    
#fa-whatsapp{
color: #4FCE5D;
}
#fa-whatsapp:hover{
    transform: rotate(360deg);
    transition: .5s;
   
    cursor: pointer;
}

#footer .copyrightdiv{
   position: relative;
    padding: 10px;

}
#footer .copyrightdiv .copyrighttxt{
    float: right;    
    font-size: 12px;
    font-style: italic;
    color: #000;
}


/*________________ Footer CSS End______________________*/




/*----------Privacy page Css-----------*/



.privacypage{
    float: left;
    background-color: black;
    width: 100%;
    height: auto;
    color: rgb(199, 72, 72);
    margin-top: 10px;
    
    overflow: hidden;
    position: relative;
   text-justify: auto;
 

}
.privacypage .privacypagecontent{
    width: 90%;
    margin: auto;
    
    text-justify: kashida;
    color:white;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid white;
}
.privacypage .privacypagecontent .privacypgh3{
    color: green;
    margin-left: 10px;
    font: bold;
    font-weight: 1000;
    font-size: 22px;
    text-shadow: 1.5px 1.5px black;


}
.privacypage  p{
    position: relative;

}

/*----------privacy page Css Start-----------*/





/*----------Detail page Css star------------*/
.movie-title{
    color: whitesmoke;
    text-align: center;
   }
   .detail-container{
       width: 90%;
       height: auto;
       margin: auto;
       margin-top: 80px;
       position: relative;
       box-shadow: 2px 3px 25px gray; 
       border-radius: 5px;
       border-bottom: 1px solid grey;
       padding: 30px;
       
   
   }
   
   .disc-movie-div{
       padding: 10px;
       border-bottom: 1px solid white;
   }
   .disc-movie-div p{
       color: whitesmoke;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   .detail-container img{
       height: 500px;
       width: 350px;
       margin:auto;
       margin-top: 20px;
       position: relative;
       border: 2px solid white;
       display: block;
   
   }
   .detail-container img:hover{
       transform: rotateY(-180deg);
   }
   .movie-detail{
       height: 300px;
       width: 60%;
       margin-top: 20px;
       position: relative;
       font-size: larger;
       color: white;
       margin-left: 200px;
   }
   .movie-detail-heading{
       color: green;
       text-align: center;
   }
   .movie-detail ul{
       top: 30px;
       
   }
   .storylinediv{
       width: 80%;
       position: relative;
       margin: auto;
       margin-top: 20px;
       text-align: center;
       color: white;
   }
   .storylineheading{
       color: yellow;
   }
   #downloadingnxtbtn{
   width: 100%;
   margin-top: 150px;
   text-align: center;
   position: relative;
   }
   #downloadingnxtbtn button{
       text-decoration: none;
       color: white;
       padding: 10px 20px 10px 20px;
       background-color: #1410f3;
       border-radius: 8px;
       
   
   }
   #downloadingnxtbtn button:hover{
       background-color: #08067e;
   
   }
   
   
   
   .downloadingsznbtn{
       width: 100%;
       margin-top: 50px;
       text-align: center;
       position: relative;
       }
   .comingsoon a{
       background-color:grey;
   
   }
   .comingsoon a:hover{
       background-color:rgb(78, 76, 76);
   
   }
   .downloadingsznbtn button{
           text-decoration: none;
           color: white;
           padding: 10px 20px 10px 20px;
           background-color: #1410f3;
           border-radius: 8px;
           cursor: pointer;
       
       }
       .downloadingsznbtn button:hover{
           background-color: #08067e;
       
       }
   
   .movie-trailer-div{
       position: relative;
       display: flex;
       flex-direction: column;
       justify-content: center;
   
   }
   .movie-trailer-div iframe{
       height: 315px;
   }
   .movie-trailer-div h3{
   text-align: center;    
   padding: 20px 0px;
   color: white;
   font-size: 25px;
   }
   
   /*----------Detail page Css End------------*/
   
   
   
   

/*----------Downloading page Css-----------*/

.downloadingserver{
    width: 90%;
    background-color: #000;
   /* background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );*/
   margin: auto;
   margin-top: 100px;
    border-radius: 20px;
    position: relative;
    box-shadow: 13px 17px 10px black;
    padding-bottom: 20px;
    border: 1px solid whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
   
}
.downloadingserver p{
text-align: center;
color: #15c529;
text-shadow: 2px 2px 6px black;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#downloadinglink{
    background-color: blue;
    color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
    border: 1px solid white;
    margin-top: 100px;
    box-shadow: 13px 17px 10px black;
    text-decoration: none;
    border-radius: 50px;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;


    
}
#downloadinglink:hover{
    background-color: rgb(12, 12, 77);
    transition: 0.5s;
    border: 1px solid #4FCE5D;
    color: #4FCE5D;

}


.voltext{
    float: left;
    margin-left: 40%;
    color: white;
    text-align: center;
      
}

.downloadinglink1{
    background-color: blue;
    color: white;
    text-align: center;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    margin: auto;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.downloadinglink1:hover{
    background-color: rgb(12, 12, 77);
    transition: 0.5s;
    border: 1px solid #4FCE5D;
    color: #4FCE5D;
    box-shadow: 5px 5px  17px 6px green;

}
.downloadinglink2{
    background-color: blue;
    color: white;
    text-align: center;
    margin: auto;
    margin-top: 15px;

    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 20px;
    font-size: 18px;
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.downloadinglink2:hover{
    background-color: rgb(12, 12, 77);
    transition: 0.5s;
    border: 1px solid #4FCE5D;
    color: #4FCE5D;
    box-shadow: 5px 5px  17px 6px green;

}

/*----------Downloading page Css end-----------*/

/*----------Downloading Container Css Start-----------*/
#d-container{
    display:none;
}
#downloading-container{
    position: fixed;
    display: block;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: black;
    opacity: .8;  
    z-index: 2;
}
.close-downloading-container{
    position: absolute;
    float: right;
    top: 10px;
    right: 20px;
    font-size: 20px;
    font: bold;
    text-decoration: none;
    color: white;
    padding: 5px 15px;
    cursor: pointer;
    border: 1px solid blueviolet;
    background: none;
}
.close-downloading-container:hover{
    transform: scale(1.5);
    border: none;
}
.downloading-container-content{
    width: 80%;
    height: 500px;
    left: 10%;
    top: 50px;
    background-color: whitesmoke;
    margin: auto;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    overflow-x: scroll;
    overflow-y: none;
    z-index: 3;
    background-color: #0e6919;
}
.downloading-container-content h1{
    text-align: center;
    color: #117c8a;
    text-shadow: 1px 1px 3px black;
    border-bottom: 1px solid black;
}
.downloading-server-animation-div{
    position: relative;
    display: flex;
    justify-content: center;
   
   
}
.downloading-server-animation-div img{
    
    max-height: 300px;
    max-width: 300px;
}
.downloading-server-animation-div img:hover{
transform: none;
}
.downloading-links{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.downloading-links a{
    width: 40%;
    margin: auto;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background-color: #110c0c;
    border: 1px solid #117c8a;
    border-radius: 5px;
    box-shadow: 1px 1px 15px #0ec6df;
    margin-top: 25px;
    cursor: pointer;
    text-align: center;
}
.downloading-links a:hover{
    color: black;
    background-color: whitesmoke;
    border: 2px solid #0ec6df;
      box-shadow: 1px 1px 18px #0ec6df;;
}


/*----------Downloading Container Css End-----------*/













































/*----------------------------Bubble story------------------------------ */




/*
.bubbles{
    position: absolute;
   
    z-index: 0;
    overflow: hidden;
    top: 0;
    left: 0;
}
.bubble {
    position: absolute;
    bottom: 0;
    background: transparent;
    
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2) ;
    border-radius: 50%;
    animation: flying 10s infinite ease-in;

}
.bubble:nth-child(1)
{
    height: 100px;
    width: 100px;
    animation-duration: 10s;
    left: 10%;
}
.bubble:nth-child(2)
{
    height: 50px;
    width: 50px;
    animation-duration: 6s;
    left: 20%;
}
.bubble:nth-child(3)
{
    height: 60px;
    width: 60px;
    animation-duration: 8s;
    left: 30%;
}
.bubble:nth-child(4)
{
    height: 20px;
    width: 20px;
    animation-duration: 3s;
    left: 40%;
}
.bubble:nth-child(5)
{
    height: 80px;
    width: 80px;
    animation-duration: 5s;
    left: 50%;
}
.bubble:nth-child(6)
{
    height: 10px;
    width: 10px;
    animation-duration: 2s;
    left: 60%;
}
.bubble:nth-child(7)
{
    height: 80px;
    width: 80px;
    animation-duration: 4s;
    left: 70%;
}
.bubble:nth-child(8)
{
    height: 50px;
    width: 50px;
    animation-duration: 7s;
    left: 80%;
}
.bubble:nth-child(9)
{
    height: 45px;
    width: 45px;
    animation-duration: 4.5s;
    left: 90%;
}
.bubble:nth-child(10)
{
    height: 30px;
    width: 30px;
    animation-duration: 3.5s;
    left: 95%;
}










@keyframes flying
{
    0%
    {
        bottom: -100px;
        transform: translateX(0);
    }
    50%
    {
        
        transform: translateX(110px);
    }
    100%
    {
        bottom: 768px;
        transform: translateX(-300px);
    }
}


.line{
    background-color: red;
    size: 1px ;
    border: none;
    
}
*/

/*----------------------------Bubble story End------------------------------ */





















































































































/*----------Tablet------------*/

@media only screen and (min-width: 769px)  and (max-width: 1000px) 
{
    
    .menuitems{
        height: auto;
    }
    .menuitems a{
        padding: 5px;
    }
    .testingdiv2 .section{
        padding: 10px 20px 10px 20px;
    }

    .searchbox {
        display: none;
       }



/*------Movies Started----------*/
  

#all_movies{
    height: 3800px;
}
    .movie1{
        float: left;
        width: 30%;
        height: 400px;
        margin-top: 20px;
        margin-left: 2%;
        overflow: hidden;
}
    .movie1 .text{
        margin: 0%;
        background:transparent;
        overflow: hidden;
        justify-content: center;
        text-align: center;
        position: relative;
       
    }
    .movie1 img{
        height: 350px;
    }

    
.movie2{
    float: left;
    width: 40%;
    height: 500px;
    margin-top: 20px;
    margin-left: 5%;
    overflow: hidden;
}
.movie2 .text{
    margin: 0%;
    background:transparent;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    position: relative;
}
.movie2 img{
    height: 450px;
}



/*-----------------Movie detail start----------*/
.detail-container{
    height: auto;
    padding-bottom: 40px;


}
.detail-container img{
height: 350px;
width: 300px;
}
.detail-container img:hover{
    transform: rotateY(-180deg);
}
.movie-detail{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    cursor: default;
    position: relative;
}
.movie-detail-heading{
    color: green;
    text-align: center;
}
.movie-detail ul{
    top: 30px;
    
}
.storylinediv{
    width: 98%;
    margin: auto;
    cursor: default;
}

#downloadingnxtbtn{

height: 30px;
margin-top: 100px;
position: relative;}
}
/*----------Detail page Css End------------*/

/*------------ fOOTER cSS---------------*/
#footer{
    height: 140px;
    padding-bottom: 10px;

}
/* On smaller screens, decrease text size 
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }*/
  



/*--------------------------for smart phone------------------------------*/

@media only screen and (min-width: 320px)  and (max-width: 767px) 
{ 
        .searchbox{
        display: none;
    }
    .menuitems{
        display: flex;
        flex-direction: column;
       
    }
 .sectiondiv{
 }
 .sectionsdiv2{
    height: auto;
    position: relative;
    align-content: center;
    }
    .sectionsdiv2 .section{
    margin-top: 10px;
    text-align: center;
    font-size: small;
    padding: 2px 5px;
    border-radius: 0px 0px 15px 15px;

 }
    .line{
        float: left;
        background-color: black;
        width: 100%;
        height: 4px;
        margin-top: 10px;
        
    }
   


    
#downloadingnxtbtn{
    margin-top: 20px;
}









 
  nav{
    height: 50px;
    padding: 0;
    width: 100%;
    margin: auto;
    
    /*content-align: none;*/
    
}


nav .logo{
   font-size: 25px;
   font-weight: 200px; 
}
  
nav .socialdiv{
    border-bottom: 1px solid whitesmoke;
    border-left: 1px solid whitesmoke;
    border-radius: 0 0 0 15px;
    background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),white,  white );

}
    
    
    
    
    
 
    .head{
        background-color: rgb(0, 0, 0);
        /*height: 400px;*/
        width: 100%;
        float: left;

    }
    .head h1{
        display: none;
        float: left;
        width: 100%;
        text-align: center;
        font-size: 12pt;
    }







/*------------- Menu Bar - Mobile nav Css------------*/




.menubardiv{
    width: 100%;
    text-align: center;
   /* background-color: #1935e7;*/
   position: relative;
top: 50px;}
#fa-bars{
 z-index: 1;
 font-size: 40px;
 color: whitesmoke;
 padding: 5px;
}
#fa-bars:hover{
    color: #15c529;
    cursor: pointer;
}
#closebar{
    z-index: 1;
    font-size: 25px;
    color: whitesmoke;
    outline: red;
    padding: 5px 10px 5px 0px;
    top: 50%;
    position: absolute;
    background-color: #1410f3;
    border-radius:0 50px 50px 0;
   
}
#closebar:hover{
    color: red;
    cursor: pointer;
    background-color: #000000;
}


    #mobilenav{
        width: 40%;
        height: 100vh;
        z-index: 11;
        position: fixed;
        top: 0;
        margin-top: 0;
        margin-left: -100%;
        background-color: black
        
       
    }
    #mobilenav .menuword{
        color: whitesmoke;
        font-size: 18px;
        text-align: center;
        position: absolute;
    }
    #mobilenav #menuitems{
background-color: black;
height: 100%;
width: 100%;
float: left;

    }
    #mobilenav #menuitems a{
        display: flex;
        left: 10%;
        width: 80%;
        padding-top: 15px;
        position: relative;
        border: none;
    }
    #mobilenav #menuitems a:hover{
        color: green;
        transition: 0.5s;
        border-bottom: 1px solid green;
        background-color: white;
        border-left: none;
    
    }
    /*
    #mobilenav #menuitems{
        position: relative;
        width: 90%;
        background-color: #15c529;
       z-index: 1;
       float: left;
       margin-left: 6%;
    border: none;
        top: 50px;
        margin: auto;
    }
    #mobilenav #menuitems a{
        position: relative;
        padding: 8px;
        color: white;
        text-decoration: none;
        display: flex;
        
    }
    #mobilenav #menuitems a:hover{
        color: green;
        transition: 0.5s;
        border-bottom: 1px solid whitesmoke;
        border-left: 1px solid whitesmoke;
    
    }*/
        .searchbox {
      display: none;
     }
   
    .blank{
        width: 100%;
        height: 30px;
        background-color: rgb(170, 46, 46);
        float: left;
    
    }
    .blank marquee{
        color: yellow;
    }
    
    /*.line{
        float: left;
        background-color: black;
        width: 100%;
        height: 4px;
        margin-top: 3px;
        
    }*/










/*-------------HMC home page-----------------



.webseries{
    width: 90%;
    margin-left: 5%;
    
}
.webseries:hover {
    height: 600px;
}
.webseries:hover img{
    height: 520px;
}

.hollywoodmovies{
    width: 90%;
    margin-left: 5%;
}

.hollywoodmovies:hover {
    height: 600px;
}
.hollywoodmovies:hover img{
    height: 520px;
}
.bollywoodmovies{
    width: 90%;
    margin-left: 5%;
}

.bollywoodmovies:hover {
    height: 600px;
}
.bollywoodmovies:hover img{
    height: 520px;
}
.pakistanimovies{
    width: 90%;
    margin-left: 5%;
    
}

.pakistanimovies:hover {
    height: 600px;
}
.pakistanimovies:hover img{
    height: 520px;
}
.southindianmovies{
    width: 90%;
    margin-left: 5%;
}

.southindianmovies:hover {
    height: 600px;
}
.southindianmovies:hover img{
    height: 520px;
}

/*-------------HMC home page End-----------------*/
















/*=========Movies started===========*/

    .movies{
        float: left;
        
        width: 100%;
        height: 45px;
        margin-top: 20px;
        
    }
    .movies h2 {
        margin-left: 10px;
        
    }




    


.movie1 {
        
        width: 47%;
        height: 310px;
        margin-left: 2%;
        overflow: hidden;
        font-weight: bold;
        font-size: 12px;
    } .movie1 img{
        height: 270px;
    }
    .movie2 {
        
        width: 47%;
        height: 310px;
        margin-left: 2%;
        overflow: hidden;
        font-weight: bold;
        font-size: 12px;
    } .movie2 img{
        height: 270px;
    }
     
/*--------------------movies end------------*/









/*----------Detail page Css start------------*/


.detail-container{
    height: auto;
    padding: 15px;
    margin-top: 50px;
    position: relative;
    width: auto;
        display: block;
        justify-content: center;
        padding-bottom: 50px;
}
.detail-container img {
    display: block;
    height: 300px;
    width: 230px;
    margin: auto;
    margin-top: 20px;
    
}
.detail-container img:hover{
    transform: rotateY(-180deg);
}
.movie-detail{
    height: auto;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    font-size: 18px;
    cursor: default;
}
.movie-detail-heading{
    color: green;
    text-align: center;
}
.movie-detail ul{
    top: 30px;
    display: block;

    
}
.storylinediv{
    width: 98%;
    margin: auto;
    cursor: default;
    position: relative;
}

#downloadingnxtbtn{

height: auto;
margin-top: 100px;
position: relative;
}

/*----------Detail page Css End------------*/

/*----------P Number Css------------*/
 
   
  .pnumber{
    position: relative;
  }
    
/*--Categery css start--*/
 .catgeriesdiv{
    position: relative;
    overflow: hidden;
 }
   .catgerieslinkdiv{
    position: relative;
   } 
   .catgerieslinkdiv .a{
    margin-left: 20px;
    padding: 5px;
    margin-top: 5px;
   }

  .catgeriesdiv{
    position: relative;
    overflow: hidden;
 }
   .catgerieslinkdiv{
    position: relative;
   } 
   .catgerieslinkdiv .a{
    margin-left: 20px;
    padding: 5px;
    margin-top: 5px;
   }

/*--Categery css end--*/
  #notediv{
    height: auto;
  }




/*-----------Notediv start--------------*/
#notediv{
    float: left;
    padding: 10px;
    max-width: 98%;
    height: auto;
    background-color: #1cb12e;
    color: #fff;
    border-radius: 8px;
    margin-top: 50px;
    position: relative;
    text-align: justify;
   
    
}
/*-----------Notediv start END--------------*/

/*==========Form Css======*/

.formdiv{
    width: 70%;
}

    
    /*--------Footer Css start------------*/
    #footer{

        background-image: linear-gradient(to right, rgb(23, 0, 128),rgb(2, 0, 128),rgb(9, 0, 128),  white );
        color: white;
        width: 100%;
        
        padding-bottom: 10px;
    
    }
    
    
    
/*--------Footer Css end------------*/
    
    
    
    
    
/*--------About Css start------------*/
    
    
    .aboutpage{
        float: left;
        background-color: rgb(22, 21, 21);
        width: 100%;
        height: auto;
        color: rgb(199, 72, 72);
        margin-top: 10px;
    
    }
    .aboutpage h3{
        color: red;
    
    }
    
    /*--------about Css end-----------*/

    
    
    
    
    
   
    
    
    
    
    
    /*--------downloading page Css start------------*/

    
    
  .downloadingserver{
     
        width: 70%;
        margin-top: 250px;
         display: flex;
         flex-direction: column;
         justify-content: center;
    }
   .voltext{
   
   }
    #downloadinglink{
        color: white;
        margin-top: 100px;
           
        font-size: 15px;
    }
    .downloadinglink1{
        font-size: 14px;
        
   

    }
    .downloadinglink2{
        font-size: 14px;
       

    }
   
   /*--------Downloading pages Css end------------*/

}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
    .text {font-size: 11px}
  }
